<a href="https://colab.research.google.com/github/avishek7713/Python-For-Data-Engineering/blob/main/ClassesAndObjects.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# class creation, definition and attributes and methods

class Employee:
  def __init__(self, name, position, salary):
    self.name = name
    self.position = position
    self.salary = salary

  def display_info(self):
    return f"{self.name} is a {self.position} earning ${self.salary} anually."

In [2]:
# Object creation

employee1 = Employee("John Doe", "Manager", 75000)
employee2 = Employee("Jane Smith", "Developer", 60000)

In [3]:
# accessing the methods of the class

employee1.display_info()

'John Doe is a Manager earning $75000 anually.'

In [4]:
employee2.display_info()

'Jane Smith is a Developer earning $60000 anually.'

In [5]:
employee1.salary = 100000 # changing the class attributes
employee1.display_info()

'John Doe is a Manager earning $100000 anually.'