<a href="https://colab.research.google.com/github/avishek7713/Python-For-Data-Engineering/blob/main/Collections.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# COLLECTION - container holding multiple items, can be of any types

In [2]:
# LIST - ordered, supports data changes
# TUPLES - immutable
# SET - supports unique elements
# DICTIONARY - supports JSON

In [7]:
#############3 TUPLES - items are ordered and unchangable, allows duplicates

employee = (1, 'Deepak', 'Indore', 98373773)
print(employee)
print(employee[1])
print(len(employee))
print(employee[-1])

(1, 'Deepak', 'Indore', 98373773)
Deepak
4
98373773

In [8]:
# To change the tuple, should be converted to list

new_emp = list(employee)
new_emp[1] = "Deepak Goyal"
employee = tuple(new_emp)
print(employee)

(1, 'Deepak Goyal', 'Indore', 98373773)

In [9]:
# LOOPING IN TUPLE

for x in employee:
  print(x)

1
Deepak Goyal
Indore
98373773

In [10]:
# Accessing the position

print(employee.index("Indore"))

2

In [11]:
###### LISTS - ordered, mutable, allows duplicated

tasks = ['development', 'testing', 'monitoring']
print(tasks)

['development', 'testing', 'monitoring']

In [13]:
print(tasks[1])

# mutable
tasks[1] = "New testing"
print(tasks)

testing
['development', 'New testing', 'monitoring']

In [18]:
tasks.append("Production deployment") # adds element to the last position
print(tasks)

tasks.insert(1, "Unit testing") # insert an item to any position
print(tasks)

tasks.remove("Unit testing") # removing an item from the list
print(tasks)

tasks.pop(1) # to remove an element based on the index
print(tasks)

['development', 'Unit testing', 'New testing', 'monitoring', 'Production deployment', 'Production deployment', 'Production deployment', 'Production deployment', 'Production deployment']
['development', 'Unit testing', 'Unit testing', 'New testing', 'monitoring', 'Production deployment', 'Production deployment', 'Production deployment', 'Production deployment', 'Production deployment']
['development', 'Unit testing', 'New testing', 'monitoring', 'Production deployment', 'Production deployment', 'Production deployment', 'Production deployment', 'Production deployment']
['development', 'New testing', 'monitoring', 'Production deployment', 'Production deployment', 'Production deployment', 'Production deployment', 'Production deployment']

In [19]:
for x in tasks:
  print(x)

development
New testing
monitoring
Production deployment
Production deployment
Production deployment
Production deployment
Production deployment

In [20]:
########### SETS -

tasks = {'develop', 'test', 'monitor'}
print(tasks)

{'monitor', 'develop', 'test'}

In [21]:
# checking for duplicacy


tasks = {'develop', 'test', 'monitor', 'test'}
print(tasks)

{'monitor', 'develop', 'test'}

In [22]:
tasks.add("deploy")
print(tasks)

{'monitor', 'deploy', 'develop', 'test'}

In [25]:
# adding one set to another

new_task = {"unit testing", "SIT testing"}
tasks.update(new_task) # for updating the root set
print(tasks)

{'monitor', 'develop', 'test', 'SIT testing', 'unit testing', 'deploy'}

In [26]:
tasks.remove("test") # removes a set item
print(tasks)

{'monitor', 'develop', 'SIT testing', 'unit testing', 'deploy'}

In [27]:
new_task.clear() # empty the set
print(new_task)

set()

In [28]:
######## DICTIONARIES - each piece of data has a unique key, ordered, mutable, doesn't allow duplicates

user = {'name': 'Deepak', "city": "Indore", "age": 20}
print(user)

{'name': 'Deepak', 'city': 'Indore', 'age': 20}

In [33]:
print(user['city']) # accessing value using its key

print(user.get("city")) # also can be done using the "get" method

Indore
Indore

In [35]:
keys = user.keys() # assigning a variable for key
print(keys)

values = user.values() # assigning a variable for values
print(values)

dict_keys(['name', 'city', 'age'])
dict_values(['Deepak', 'Indore', 20])

In [36]:
if "name" in user:
  print('yes')

yes

In [38]:
user['city'] = "Mumbai" # accessing a value
print(user)

{'name': 'Deepak', 'city': 'Mumbai', 'age': 20}

In [39]:
user.update({'mobile': 83748738}) # adds a key value paid at the end
print(user)

{'name': 'Deepak', 'city': 'Mumbai', 'age': 20, 'mobile': 83748738}

In [40]:
user.pop("mobile") # removing a key value pair
print(user)

{'name': 'Deepak', 'city': 'Mumbai', 'age': 20}

In [41]:
for x in user.keys():
  print(user[x])

Deepak
Mumbai
20

In [44]:
new_user = user # points to the same dictionary, cannot be copied like this
new_user.update({'mobile': 3874837487})

In [45]:
print(new_user)
print(user)

{'name': 'Deepak', 'city': 'Mumbai', 'age': 20, 'mobile': 3874837487}
{'name': 'Deepak', 'city': 'Mumbai', 'age': 20, 'mobile': 3874837487}

In [46]:
# to copy a dictionary

new_user = user.copy()
new_user.update({'sex': 'M'})

In [47]:
print(new_user)
print(user)

{'name': 'Deepak', 'city': 'Mumbai', 'age': 20, 'mobile': 3874837487, 'sex': 'M'}
{'name': 'Deepak', 'city': 'Mumbai', 'age': 20, 'mobile': 3874837487}